[package]
name = "reductive"
version = "0.5.0"
edition = "2018"
authors = ["DanieÌˆl de Kok <me@danieldk.eu>"]
license = "Apache-2.0"
description = "Optimized vector quantization for dense vectors"
documentation = "https://docs.rs/reductive/"
homepage = "https://github.com/finalfusion/reductive"
repository = "https://github.com/finalfusion/reductive"

[dependencies]
ndarray = { version = "0.13", features = [ "approx", "rayon" ] }
num-traits = "0.2"
ordered-float = "1"
log = "0.4"
rand = { version = "0.7", features = [ "small_rng" ] }
rand_core = "0.5"
rand_xorshift = "0.2"
rayon = "1"

ndarray-linalg = { version = "0.12", optional = true }

[dependencies.openblas-src]
version = "0.9"
optional = true
features = ["system"]

[dev-dependencies]
approx = "0.3"
rand_distr = "0.2"

[features]
default    = []
opq-train  = ["ndarray-linalg"]
openblas-test = ["opq-train", "openblas-src", "ndarray-linalg/openblas"]
